@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a1a21;
  --foreground: #ffffff;
  --primary: #ea4054;
  --muted: #21202a;
}
html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer components {
  .center {
    @apply flex items-center justify-center;
  }
  .soft {
    @apply transition-all duration-300 ease-in-out;
  }
}
.no_scroll_bar::-webkit-scrollbar {
  display: none;
}